#date-time input {
  /*margin-right: 2 px;
  margin-left: 2 px;*/
}

#date-time span.label-to {
	line-height: 200%;
	padding-right: 5px;
	padding-left: 5px;
}

.custom-checkbox {
	min-height: 1rem;
	padding-left: 0;
	margin-right: 0;
	cursor: pointer;
}

.custom-checkbox .custom-control-indicator {
	content: "";
	display: inline-block;
	position: relative;
	width: 30px;
	height: 10px;
	background-color: #818181;
	border-radius: 15px;
	margin-right: 10px;
	-webkit-transition: background .3s ease;
	transition: background .3s ease;
	vertical-align: middle;
	margin: 0 2px;
	box-shadow: none;
}

.custom-checkbox .custom-control-indicator:after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: #f1f1f1;
	border-radius: 21px;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
	left: -2px;
	top: -4px;
	-webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
	transition: left .3s ease, background .3s ease, box-shadow .1s ease;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
	background-color: #84c7c1;
	background-image: none;
	box-shadow: none !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
	background-color: #84c7c1;
	left: 15px;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
	box-shadow: none !important;
}

#form-date-time .SumoSelect > .CaptionCont > label {
	top: 5px;
}

.select-color {
	width: 168px;
}

._select_color{
	font-size: 14px;
	padding: 3px 4px 1px 4px;
	font-weight: 300;
	line-height: 28px;
	border-radius: 4px;
	border: 1px solid #ccc;
	-webkit-appearance: none;
	width: 100%;
	height: auto;
	box-shadow: none;
	text-align: left;
	background-image: none;
	color: #796652;
	background: white;
}
._select_color_drop {
	margin: 0;
	padding: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	top: 99%;
	border-top: 0;
	width: 100%;
}
._select_color_drop > li {
	display: inline-block;
	padding: 7px;
	border-right: 1px solid rgba(192, 192, 192, 0.55);
	cursor: pointer;
	float: left;
}
._select_color_drop > li > .color,.btn > span.color{
	width: 25px;
	height: 25px;
	border-radius: 4px;
	float: left;
}
.btn > span.color{margin-right:10px}
.btn .caret{
	float: right;
	border-top: 7px solid;
	font-size: 28px;
	padding-top: 5px;
	vertical-align: middle;
	position: absolute;
	right: 20px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 13px;
}
._select_color_drop > li > .red ,.btn._select_color > span.red{background-color: red;}
._select_color_drop > li > .green ,.btn._select_color > span.green{background-color: green;}
._select_color_drop > li > .yellow ,.btn._select_color > span.yellow{background-color: yellow;}
._select_color_drop > li > .brown ,.btn._select_color > span.brown{background-color: brown;}
._select_color_drop > li > .orange ,.btn._select_color > span.orange{background-color: orange;}
._select_color_drop > li > .pink ,.btn._select_color > span.pink{background-color: pink;}
._select_color_drop > li > .silver ,.btn._select_color > span.silver{background-color: silver;}
._select_color_drop > li > .blue ,.btn._select_color > span.blue{background-color: #3788d8;}
._select_color_drop > li > .TEAL ,.btn._select_color > span.TEAL{background-color: #008080;}
._select_color_drop > li > .NAVY ,.btn._select_color > span.NAVY{background-color: #000080;}
._select_color_drop > li > .PURPLE ,.btn._select_color > span.PURPLE{background-color: #800080;}
._select_color_drop > li > .OLIVE ,.btn._select_color > span.OLIVE{background-color: #808000;}
._select_color_drop > li > .LIME ,.btn._select_color > span.LIME{background-color: #00FF00;}
._select_color_drop > li > .Black ,.btn._select_color > span.Black{background-color: #212529;}
._select_color_drop > li > .white ,.btn.white > span.white{background-color: #ffffff;}

#form-date-time .SelectBox {
	padding: 3px 7px;
}